:root {
  --c-white: #fff;
  --c-gray-100: #f9f9f9;
  --c-gray-200: #f1f1f1;
  --c-gray-300: #808080;
  --c-gray-400: #606060;
  --c-gray-500: #404040;
  --c-gray-600: #302e2b;
  --c-gray-700: #27231f;
  --c-gray-800: #1b1a19;
  --c-pink-100: #fffdfc;
  --c-mint-200: #d0f1ed;
  --c-heading: var(--c-gray-800);
  --c-text: var(--c-gray-700);
  font-size: 62.5%;
}
