@import "mixins";

.posts {
  display: grid;
  gap: 2rem;
}

.post {
  display: block;
  padding: 2rem;
  background: rgb(255 255 255 / .5);
  border: .1rem solid #b9b9b9;
  border-radius: 1rem;

  @include up(md) {
    padding: 3.2rem;
  }
}
