@import "mixins";

.posts {
  display: grid;
  gap: 2rem;
}

.post {
  display: block;
  padding: 2rem;
  background: rgb(255 255 255 / .5);
  border: .1rem solid #e2e2e2;
  border-radius: 1rem;

  // box-shadow: 0 .8rem 3.2rem 0 rgb(31 38 135 / .07);
  // backdrop-filter: blur(20rem);

  @include up(md) {
    padding: 3.2rem;
  }
}
