@import
  "mixins",
  "modifiers";

:root {
  --c-white: #fff;
  --c-gray-100: #f9f9f9;
  --c-gray-200: #f1f1f1;
  --c-gray-600: #302e2b;
  --c-gray-700: #27231f;
  --c-gray-800: #1b1a19;
  --c-pink-100: #fffdfc;
  --c-mint-200: #d0f1ed;
  --c-heading: var(--c-gray-800);
  --c-text: var(--c-gray-700);
  font-size: 62.5%;
}

$test-var: var(--c-gray-600);

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

// .background-gradient {
//   position: fixed;
//   left: 0;
//   top: 0;
//   display: block;
//   width: 100vw;
//   height: 100vh;
//   border: 1px solid red;
//   z-index: -1;

//   rect {
//     width: 100vw;
//     height: 100vh;
//     border: 1px solid red;
//   }
// }

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  color: var(--c-text);
  font-size: 1.6rem;
  font-weight: normal;
  font-weight: 300;
  line-height: 2.6rem;
}

body {

  min-height: 100vh;
  background-color: var(--c-pink-100);
  background-attachment: fixed;
  background-image: url("/blur-gradient.webp");
  background-position: calc(50% + 30rem) bottom;
  background-repeat: no-repeat;
  background-size: 80rem;

  // &::after,
  // &::before {
  //   content: "";
  //   position: absolute;
  //   left: 0;
  //   top: 0;
  //   width: 100%;
  //   height: 100%;
  //   z-index: -1;
  // }

  // &::before {
  //   background: var(--c-white);
  //   filter: url("#noiseFilter");
  // }

  // &::after {
  //   background-color: hsl(178deg 71% 75% / 1);
  //   background-image:
  //     radial-gradient(at 41% 76%, hsl(340deg 0% 93% / 0) 0, transparent 50%),
  //     radial-gradient(at 96% 21%, hsl(46deg 0% 93% / 1) 0, transparent 50%),
  //     radial-gradient(at 34% 14%, hsl(204deg 0% 88% / 1) 0, transparent 50%),
  //     radial-gradient(at 61% 15%, hsl(338deg 0% 88% / 1) 0, transparent 50%),
  //     radial-gradient(at 12% 80%, hsl(41deg 0% 100% / 1) 0, transparent 50%),
  //     radial-gradient(at 81% 48%, hsl(336deg 0% 96% / 1) 0, transparent 50%),
  //     radial-gradient(at 68% 59%, hsl(346deg 0% 86% / 1) 0, transparent 50%);
  //   mix-blend-mode: color-dodge;
  //   opacity: .9;
  // }
}

.logo {
  width: 12rem;
  height: 12rem;
  background-color: var(--c-gray-200);
  border-radius: 50%;
}

ol,
ul {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--c-heading);
  font-weight: 400;
}

h1 {
  font-size: 2.8rem;
  line-height: 3.8rem;

  @include up(md) {
    font-size: 4rem;
    line-height: 4.8rem;
  }
}

h2 {
  font-size: 2.2rem;
  line-height: 3.2rem;

  @include up(md) {
    font-size: 3rem;
    line-height: 3.8rem;
  }
}

h3 {
  font-size: 2.2rem;
  line-height: 3.2rem;

  @include up(md) {
    font-size: 2.8rem;
    line-height: 3.6rem;
  }
}

a {
  text-decoration: none;
}

p {
  a {
    color: var(--c-text);
    text-decoration: underline;
    text-underline-offset: .2rem;
  }
}

img {
  height: auto;
  max-width: 100%;
}

pre {
  background-color: var(--c-gray-700);

  & > code {
    display: grid;
  }
}

[data-rehype-pretty-code-fragment] code {
  counter-reset: line;
  box-decoration-break: clone;
}

[data-rehype-pretty-code-fragment] .line {
}

p > [data-rehype-pretty-code-fragment] {
}

[data-rehype-pretty-code-fragment] [data-line-numbers] > .line::before {
  content: counter(line);
  counter-increment: line;
  display: inline-block;
  width: 1rem;
  margin-right: 1rem;
  color: gray;
  text-align: right;
}

[data-rehype-pretty-code-fragment] .line--highlighted {
}

[data-rehype-pretty-code-fragment] .line-highlighted span {
}

[data-rehype-pretty-code-fragment] .word--highlighted {
}

[data-rehype-pretty-code-title] {
}

[data-rehype-pretty-code-title] ~ div > pre.pre {
}

div.code-title ~ [data-rehype-pretty-code-fragment] > div > pre.pre {
}
